<h2>Product Details</h2>

<div *ngIf="product">

  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  
  <!-- Si el producto tiene menos de 4 de stock avisa de ello y muestra cuantos tiene -->
  <p *ngIf="product.stock <= 4">
    AVISO, EL PRODUCTO TIENE MENOS O 4 DE STOCK -> TIENE: {{product.stock}}
  </p>
  <!-- Si no tiene caracteristicas no lo muestra -->
  <p *ngIf="product.caracteristicas" >
    Caracteristicas: {{product.caracteristicas}}
  </p>
  <!-- Si el producto no tiene garantia no se muestra -->
  <p *ngIf="product.garantia">
    La garantia tiene un período de {{product.garantia.periodo}} y es de tipo {{product.garantia.tipo}}
  </p>
  <!-- Si el producto no tiene stock no se muestra el boton muestra un parafo diciendo que no tiene stock -->
  <button *ngIf="product.stock > 0" type="button" (click)="addToCart(product)">Buy</button>
  <p *ngIf="product.stock <= 0">
    El producto no tiene stock, no se puede comprar
  </p>
</div>